

body {
    background-color: #f0f8ff; 
    font-family: serif; 
    color: #070707; 
    margin: 0;
    padding: 0;
    /* Adding a transparent image as background */
    background-image: url('https://t3.ftcdn.net/jpg/08/05/05/52/360_F_805055299_DieN5lLIWkaxOdCeBHTqLiPSs5mx9oCs.jpg'); /* Add your image path here */
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}

/* Anchor Link Styling */
.anchor-link {
    background-color: #439ef9; 
    color: white; 
    padding: 5px 10px; 
    text-decoration: none; 
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
}

.anchor-link2 {
    color: #0073e6; 
    text-decoration: none; 
    margin-top: 100px;
}

.anchor-link:hover {
    text-decoration: underline; 
}


.content {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* New Box for Image Placeholder */
.image-box {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* New Box for YouTube Video */
.video-box {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Image Placeholder Styling */
.image-placeholder {
    max-width: 100%;
    margin: 20px auto;
    text-align: center;
}

.image-placeholder img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Video Embed Styling */
iframe {
    display: block;
    margin: 20px auto;
    border-radius: 10px; 
}





/* List Styling */
ul {
    list-style-type: disc;
    margin-left: 20px;
}

ol {
    margin-left: 10px;
}

/* Heading Styling */
h1, h2 {
    font-family: 'Georgia', serif; 
    color: #22303d; /* Dark color for headings */
    text-align: center; 
}

/* Hover Effects for List Items */
ul li:hover, ol li:hover {
    background-color: #e9f1f7; 
    padding-left: 10px; /* Indentation on hover */
}

.no-bullets {
    list-style-type: none; /* Removes bullets from the list */
    padding-left: 0; 
}

.headers {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding-left: 500px;
}

.img-margin {
    margin-top: 3px;  
    margin-bottom: 8px;  
}
.white1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding-left: 500px;
    color: white;
}

.backing {
    color: rgb(210, 210, 210);
}
